/* This is your CSS files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.filter-buttons {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


/* ========== RESPONSIVE STYLES ========== */

@media (max-width: 480px) {
  .left-nav,
  .left-nav-hover,
  .left-nav-hover:hover {
    display: none;
  }
}
