/* ========== MAIN CONTENT STYLES ========== */

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.site-main {
  /* display: flex;
  flex: 70%;
  justify-content: flex-start;
  /* margin-left: 300px; */
  background-color: white;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.site-main h1 {
  font-size: 20px;
  padding-left: 35px;
  margin-bottom: 12px;
}
/* ========== Add task ========== */
.task {
  display: block;

  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ========== CHECKBOX ========== */

/* from w3 schools here: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */

/* The container */
.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 60%;
  border-color: #7e7d79;
  border: solid 1px;
  display: flex;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
  display: flex;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 2px;
  top: 2px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: #bc0fd6;
}

.task-item {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.task--label-completed {
  text-decoration: line-through;
  color: #7e7d79;
}

/* ========== RESPONSIVE STYLES ========== */

@media (max-width: 480px) {
  .left-nav,
  .left-nav-hover,
  .left-nav-hover:hover {
    display: none;
  }
}
